{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow rotateInUpLeft">
        <div class="col-md-6 mb-4">
          <img src="{% static 'img\ivanka.jpg'%}" alt="farm" class="img-fluid">
        </div>
        <div class="col-md-6 mb-4 wow zoomIn">
          <div class="p-4">
            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1"></span>
              </a>
            </div>
            </p>
            <p class="lead font-weight-bold">О нас</p>
            <p>Вам нужен повод для подарка? Нам - нет! У нас каждый новый день праздник! Сотворённого Любовью, лавандового настроения!
              <br>Мы - Ivanka House! Занимаемся мыловарней, а так же продукцией сделанной своими руками. Используем только натуральные продукты
              для создания волшебства!
            </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}