{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="row wow rotateInUpLeft">
        <p class="lead font-weight-bold">Контакты<br></p>
          <p><br><br>Магазины:
            <a href="https://www.google.com/maps/place/ул.+Раковская+20,+Минск/@53.9051513,27.5477147,18.82z/data=!4m5!3m4!1s0x46dbcfec5ddf6949:0x9dc91fcd890454aa!8m2!3d53.9050445!4d27.5481279">
            г. Минск ул. Раковская 20 "Only you"<br></a>
            <a href="https://www.google.com/maps/place/Цветы+и+подарки+LaRose/@53.9110258,27.4988038,17z/data=!4m13!1m7!3m6!1s0x46dbc545aa5e380f:0xaf6ef0b9e3bb3c57!2z0YPQuy4g0J_RgNC40YLRi9GG0LrQvtCz0L4gMTAsINCc0LjQvdGB0Lo!3b1!8m2!3d53.9110227!4d27.5009978!3m4!1s0x46dbc5f25df1c68f:0x4ce4f9089b78cb72!8m2!3d53.9110227!4d27.5009978">
            г. Минск ул. Притыцкого 10 "La Rose".<br></a>
            Эл. Почта:
            <a href="mail:ivankahouse8@gmail.com">
            ivankahouse8@gmail.com<br></a></p>

        
      </div>
    </div>
  </main>

  {% endblock %}